In [1]:
import pandas as pd
import numpy as np

Series

In [2]:
mydfd = ['Boat', 'Car' , 'Truck']

myseries = pd.Series(mydfd)

In [3]:
myseries

0     Boat
1      Car
2    Truck
dtype: object

DataFrame

In [4]:
mydfdf = [('Boat',1), ('Car',55), ('Truck', 69),]

mydf = pd.DataFrame(mydfdf)

In [5]:
mydf

       0   1
0   Boat   1
1    Car  55
2  Truck  69

In [6]:
mydf = pd.DataFrame(mydfdf, columns = ['thing', 'count'])
mydf

   thing  count
0   Boat      1
1    Car     55
2  Truck     69

In [7]:
mydf['count']

0     1
1    55
2    69
Name: count, dtype: int64

In [8]:
type(mydf['count'])

pandas.core.series.Series

In [9]:
mydf.dtypes

thing    object
count     int64
dtype: object